body {
  font-family: Arial, Helvetica, sans-serif;

}
.bgimg {
  background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');
  height: 100%;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* fixed in viewport */
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  margin: 0.1em;
  color: #fff;
}
article {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5vh;
  color: #fff;
}
article > div {
  margin: 0.5em;
}
#clockbox {
  font-size: 3rem;
  color: #fff;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  margin-right: 0.5em;
  color: #fff;
  font-size: .8rem;
}
a:link:hover {
  background-color: grey;
}
#art {
  background-color: lightgray;
  border-style: inset;
}
.tg  {border-collapse:collapse;border-spacing:0;}

.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
  overflow:hidden;padding:10px 5px;word-break:normal;}

.tg th{border-color:black;color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}

.tg .tg-pdeq{background-color:#FFF;border-color:black;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-dgl5{background-color:#FFF;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-iaeg{background-color:darkgrey;border-color:black;text-align:left;vertical-align:top}
.tg .tg-byb7{background-color:darkgrey;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}